<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://dinoki-ai.github.io/osaurus/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>HBRBQ8QQOhmvMKnSxQxqb3upTjyirdx0xkHSSRqn7aI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dinoki</string>
			</array>
			<key>CFBundleURLName</key>
			<string>ai.dinoki.oauth</string>
		</dict>
	</array>
</dict>
</plist>
